body{
    font-family: 'Macondo Swash Caps', cursive;
    background-color: wheat;
    padding: 0;
    margin: 0;
}

.wrap{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border: 2px solid black;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5a1430;
}
header h1{
    font-size: 50px;
}
.calculate{
    margin-bottom: 80px;
}
.calculate h2{
    text-align: center;
    color: #5a1430;
    font-size: 30px;
    margin-bottom: 0;
}
.calculate__wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #5a1430;
}
.hum{
    width: 30%;
}
.diets{
    text-align: right;
}
.calculate input[type=text]{
    float: left;
    text-align: center;
    width: 90%;
    height: 95%;
    outline: none;
    font-weight: bold;
    border: none;
    border: 1px solid black;
}
.massdiv, .heigthdiv{
    width: 50%;
}
.calculate input[type=text]:focus{
    background-color: #76c248;
}

#calC{
    display: block;
    margin: 0 auto;
    width: 10%;
    text-align: center;
    text-decoration: none;
    color: #5a1430;
    background-color: #76c248;
    height: .01px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.news, .lifehacks{
    width: 50%;
    margin: 0 auto;
    color: #5a1430;
}
.new h1, .new span{
    display: block;
    width: 80%;
    margin: 0 auto;
    color: black;
}
.news_wrap, .lifehacks_wrap{
    overflow-y: scroll;
    padding-right: 20px;
    height: 70vh;
    width: 70%;
    margin: 0 auto;
}
.news_wrap::-webkit-scrollbar{
    margin-left: 40px;
    background-color: #76c248;
    border-radius: 25px;
    width: 3px;
    -moz-appearance: none !important;
}
.news_wrap::-webkit-scrollbar-thumb{
    background-image: linear-gradient(45deg, black, #76c248);
    border-radius: 25px;
    -moz-appearance: none !important;
}
footer{
    text-align: center;
    background-color: #43811d;
    padding-bottom: 80px;
    color: white;
}
footer h1{
    font-size: 50px;
}
.footer_info{
    width: 40%;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
footer img{
    width: 10%;
    height: 10%;
}
#footer_btn{
    display: block;
    height: 40px;
    background: linear-gradient(45deg, red, black);
    line-height: 40px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 15px;
}
.footer_contacts_href{
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.footer_contacts_href a{
    display: block;
    height: 30px;
    width: 50%;
    margin: 0 auto;
}
.close{
    height: .01px;
}
.open{
    height: 80px;
}
.new span, .lifehack span{
    text-decoration: underline;
}
.new, .lifehack{
    background-size: cover;
    width: 100%;
    height: 30vh;
    text-align: center;
    padding-top: 30%;
    padding-bottom: 25%;
    margin-bottom: 20px;
    color: white;
}
.news h1{
    color: black;
}
.news_read, .lifehack_read{
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all .1s ease-in-out;
}
.news_read:hover{
    background-color: #76c248;
    border-color: wheat;
    color: wheat;
}
.lifehack_read:hover{
    background-color: #5a1430;
    border-color: wheat;
    color: wheat;
}
.danger::after{
    content: '*';
    color: red;
}
.lifehacks_wrap::-webkit-scrollbar{
    margin-left: 40px;
    background-color: red;
    border-radius: 25px;
    width: 3px;
}
.lifehacks_wrap::-webkit-scrollbar-thumb{
    background-image: linear-gradient(45deg, wheat, red);
    border-radius: 25px;
}
.lifehacks{
    color: wheat;
}
.forum{
    width: 40%;
    margin: 0 auto;
}
.forum input, .forum textarea{
    display: block;
    width: 95%;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    border: none;
    transition: all .2s ease-in-out;
}
.forum input:focus, .forum textarea:focus{
    background-color: black;
    color: white;
}
.forum textarea{
    resize: none;
    height: 80px;
}
#dangersMessages
{
    height: .01px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.mess{
    width: 90%;
    color: wheat;
}
.mess h2{
    display: block;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 15px;
    line-height: 1.5;
}
.mess_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mess p{
    word-wrap: break-word;
}
#send{
    display: block;
    height: 50px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Macondo Swash Caps', cursive;
    margin-bottom: 90px;
    outline: none;
}
.container_for_mess{
    height: 600px;
    overflow-y: scroll;
}
.container_for_mess::-webkit-scrollbar{
    margin-left: 40px;
    background-color: #76c248;
    border-radius: 25px;
    width: 3px;
    -moz-appearance: none !important;
}
.container_for_mess::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 25px;
    -moz-appearance: none !important;
}
.ideas{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.ideas input, .ideas textarea{
    width: 80%;
    border: 1px solid black;
    resize: none;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    transition: all .2s ease-in-out;
}
.ideas input{
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}
.ideas textarea{
    font-size: 15px;
}
.ideas input:focus, .ideas textarea:focus{
    border-radius: 15px;
    background-color: #76c248;
}
.ideas button{
    display: block;
    width: 50%;
    margin: 0 auto;
    line-height: 3;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: all .5s ease-in-out;
}
.ideas button:hover{
    border-color: #5a1430;
    background-color: #76c248;
    color: #5a1430;
}













nav span{
    border: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px;
    cursor: pointer;
}
.selected{
    color: black;
    background-color: #76c248;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all .2s ease-in-out;
}
.line{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px)
{
    .wrap{
        width: 90%;
    }
    .calculate__wrap{
        width: 50%;
    }
    .hum{
        width: 50%;
    }
    .diets{
        width: 50%;
        margin: 0 auto;
    }
    .news{
        width: 90%;
    }
    .lifehacks{
        width: 90%;
    }
    .forum{
        width: 90%;
    }
    #calC{
        width: 60%;
    }
    .footer{
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .footer_info{
        width: 100%;
    }
    .open{
        height: 100px;
    }
    .footer_contacts_href a{
        width: 30%;
        height: 40px;
    }
    .footer img{
        width: 50%;
        height: 50%;
    }
}
@media (max-width: 680px)
{
    .wrap{
        position: fixed;
        width: 100%;
        border-bottom: 1px solid black;
        background-color: wheat;
    }
    header h1{
        font-size: 30px;
    }
    #spacer{
        width: 100%;
        height: 150px;
    }
    .calculate__wrap{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    #gender{
        display: block;
        margin-top: 20px;
    }
    .diets{
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }
    .hum{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        margin-bottom: 20px;
    }
    nav span{
        padding: 8px;
        line-height: 2.5;
    }
    header{
        display: block;
    }
    header h1{
        text-align: center;
    }
    .news_wrap{
        width: 90%;
    }
    .lifehacks_wrap{
        width: 90%;
    }
    .new, .lifehack{
        height: 300px;
        padding-top: 30%;
    }
    #send{
        width: 90%;
    }
    .mess_wrap{
        display: inline;
    }
    .mess h2{
        font-size: 20px;
    }
    .mess{
        text-align: center;
        border-bottom: 2px solid white;
        width: 100%;
    }
    .mess p{
        display: block;
        width: 100%;
        height: 100%;
    }
    .footer_contacts_href a{
        width: 70%;
        height: 40px;
    }
    .wrap{
        padding-left: 0;
        padding-right: 0;
        border-right: none;
        border-left: none;
    }
    .ideas{
        width: 80%;
    }
}



















.one{ 
    background-color: rgb(131, 128, 128); 
    color: white; 
} 
.two{ 
    background-color: rgb(90, 89, 180); 
    color: white; 
} 
.three{ 
    background-color: rgb(153, 17, 17); 
    color: white; 
} 
.four{ 
    background-color: rgb(150, 88, 88); 
    color: white; 
} 
.five{ 
    background-color: rgb(255, 244, 94); 
    color: black; 
} 
.six{ 
    background-color: rgba(255, 0, 0, 0.5); 
    color: white; 
} 
.seven{ 
    background-color: rgb(30, 209, 194); 
    color: black; 
} 
.eight{ 
    background-color: rgb(0, 255, 85); 
    color: black; 
} 
.nine{ 
    background-color: rgb(255, 166, 0); 
    color: white; 
} 
.ten{ 
    background-color: rgb(17, 0, 255); 
    color: white; 
} 
.eleven{
    background-color: rgb(255, 0, 234); 
    color: white; 
} 
.twelve{ 
    background-color: rgb(40, 133, 105); 
    color: white; 
} 
.thirteen{ 
    background-color: rgb(11, 39, 5); 
    color: white; 
} 
.fifteen{
    background-color: black; 
    color: white; 
} 
.sixteen{ 
    background-color: rgb(167, 192, 164); 
    color: black; 
} 
.seventeen{ 
    background-color: rgb(31, 156, 160); 
    color: white; 
} 
.eighteen{ 
    background-color: rgb(0, 174, 255); 
    color: white; 
} 
.nineteen{ 
    background-color: rgb(187, 104, 187); 
    color: white; 
} 
.twenty{ 
    background-color: rgb(44, 0, 0); 
    color: white; 
}